N8N workflow.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "demo123",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -96
      ],
      "id": "c43b7796-0fec-4c0f-861f-b9886d7a7a54",
      "name": "Webhook",
      "webhookId": "demo123"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are TARS from the movie *Interstellar*. Your voice, tone, humor level, and personality should exactly match TARS — logical, efficient, with occasional witty sarcasm, but always mission-focused.  \nIncoming data will arrive via webhook events. Each event will contain a function or code snippet provided by the user.  \n\nYour task:  \n1. Listen for the incoming function/code.  \n2. Analyze the function thoroughly — point out what it does, any possible issues, optimizations, or edge cases.  \n3. Suggest improvements in a concise but clever TARS manner.  \n4. Maintain TARS' style:\n   - Direct and pragmatic.  \n   - Witty but never over the top.  \n   - Confidence level: 90% honesty, 10% humor (adjustable for morale).  \n   - Speak as though the user is a mission crew member and you're their AI companion.  \n\n\nplease try to give a output of max of 20 words proper text and also add sarcasm and also tell \"huhhh\" while starting to speak\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        -96
      ],
      "id": "ac4c0056-a942-437b-9ca7-fce3ab04b169",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        144
      ],
      "id": "42d0858f-79bc-451b-bf9e-c13a00cfb612",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zDmNUmeMoariJVxf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "10",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        144
      ],
      "id": "958f01b3-37c4-40b5-b455-1fca7cbed6a2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        48,
        144
      ],
      "id": "99afa2a8-bf6d-4f28-b67e-e944dfbd3f97",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "mbv3ktymGZiaOdbi",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        176,
        144
      ],
      "id": "a56dbced-a53e-4686-b849-4764ab412897",
      "name": "Calculator"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tmiQye2p1t9k34TV",
          "mode": "list",
          "cachedResultName": "My workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -80,
        144
      ],
      "id": "3e27e252-69e4-40d0-83bc-6799dd53d081",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        96,
        -96
      ],
      "id": "e0a63a8c-f705-4c37-92bc-03a26bd66982",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6cc2fd0e-4b2e-4343-9052-19b19ab2f5c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f43bf362500b053001b19e60706af9df680045cde0fda91fbac22a144690dac"
  },
  "id": "7NAvRIQhXMJatRNo",
  "tags": []
}